/ {
    keymap {
        compatible = "zmk,keymap";

        /* Matrix: 5 rows x 4 columns
           R0: NumLock / *  -
           R1: 7       8  9  +
           R2: 4       5  6  (empty under +)
           R3: 1       2  3  Enter
           R4: 0 (2u)  .  (empties where 0/Enter occupy)
        */
        default_layer {
            bindings = <
                &kp KP_NUMLOCK  &kp KP_SLASH   &kp KP_ASTERISK &kp KP_MINUS
                &kp N7          &kp N8         &kp N9          &kp KP_PLUS
                &kp N4          &kp N5         &kp N6          &none
                &kp N1          &kp N2         &kp N3          &kp KP_ENTER
                &kp N0          &none          &kp KP_DOT      &none
            >;
        };
    };
};
